* {
  box-sizing: border-box;
}

body {
  color: #404040;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1rem;
  text-align: center;
  margin: 0;
}

h1, 
h2,
p {
  margin-top: 0;
}

/* || Typography */
h1 {
  font-size: 2.25rem;
  font-weight: 400;
  color: #ffffff;
}

h1 + p {
  font-size: 1.3125rem;
  color: #F18119;
  text-transform: uppercase;
  margin: 0;
}

h2 {
  font-size: 1.3125rem;
  margin-bottom: 0;
}

h2 + p {
  font-size: 1rem;
  font-weight: 900;
  color: #F18119;
  text-transform: uppercase;
}

strong {
  font-weight: 900;
}

.hero-top {
  text-transform: uppercase;
  font-size: .625rem;
  font-weight: 900;
  color: #F18119;
  letter-spacing: 1.5px;
  order: -1;
}

.fine-print {
  font-size: .625rem;
  letter-spacing: 1px;
  margin-bottom: 0;
}


/* || Layout */

.hero > *,
.content > * {
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #404040;
  background-image: url(../images/dark-ribs.jpg);
  background-size: cover;
  background-position: center;
  padding: 0 1.5em 2em 1.5em;
  min-height: 50vh;
}

.content {
  padding: 2em 1.5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media (min-width: 520px) {
  body {
    font-size: 1.125rem;
    display: flex;
  }

  h1 {
    font-size: 3.5rem;
  }
  
  h1 + p,
  h2 {
    font-size: 1.75rem;
  }

  .hero,
  .content {
    min-height: 100vh;
    width: 50%;
  }
}